.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 5rem;
	height: auto;
}

.searchCart {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.8rem;
}

.cart {
	width: 3.3rem;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: white;
	border-radius: 0.2rem;
	padding: 0.2rem 0.3rem;
	cursor: pointer;
}

.count {
	font-weight: 500;
}

.search {
	height: 1.8rem;
	display: flex;
}

.input {
	width: 80%;
	border: none;
	outline: none;
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
	padding-inline: 0.7rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	background: var(--prezko-color);
	border: 3px solid white;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	cursor: pointer;
}

@media (min-width: 480px) {
	.cart {
		position: relative;
		margin-inline: 2rem;
	}
	.content {
		flex-direction: row;
		max-width: 1280px;
		padding-block: 0.3rem;
	}
	.logo {
		width: 7rem;
		margin-inline: 2rem;
	}
	.searchCart {
		padding-bottom: 0;
	}
	.search {
		height: 2rem;
	}
	.cart {
		height: 2rem;
	}
}
