:root {
	--prezko-color: #8fe5a6;
	--bg-color: white;
	--text-dark: rgb(0, 100, 0);
	--max-width: 1200px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--text-dark);
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--bg-color);
}

a {
	color: inherit;
	text-decoration: none;
}
