.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	background-color: var(--prezko-color);
	width: 100%;
	display: flex;
	justify-content: center;
}

.main {
	max-width: var(--max-width);
	height: 100vh;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-block: 1rem;
}
